<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
				{% if page.usemathjax %}
                                <!-- <script type="text/x-mathjax-config"> -->
                                <!--   MathJax.Ajax.config.path["Contrib"] = "//cdn.mathjax.org/mathjax/contrib"; -->
                                <!-- </script> -->
                                <!-- <script type="text/javascript" charset="utf-8"> -->
                                <!--     MathJax = { -->
                                <!--       loader: {load: ['[tex]/physics']}, -->
                                <!--       tex: {packages: {'[+]': ['physics']}} -->
                                <!--     }; -->
                                <!-- </script> -->
				<script type="text/javascript" async
 				src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  				</script>
				{% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/pstaerk">github.com/pstaerk</a></li>
				</ul>
			</footer>
		</body>
	</html>
